
html, body {
display:flex;
flex-direction: column;
height: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
}
.navbtn1{
  display: flex;
  flex-direction: row;
   justify-content: flex-start;
  width: 50px;
  margin: 20px;
  
}
.navbtn2{
  display: flex;
  flex-direction: row;
  width: 50px;
   justify-content: flex-start;
  margin: 20px;
}
.navmiddle{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 20px;
}
.navbtn3{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 50px;
  margin: 20px;
}
.navbtn4{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 width: 50px;
  margin: 20px;
}
.navimage{
  border-radius:
}

.button-apps {
  width: 30px;
  height: 30px;
  margin-right: 1.5rem;
  background-color: #fff;
  background-image: "https://ssl.gstatic.com/gb/images/i1_1967ca6a.png";
  background-position: -132px -38px;
  opacity: 0.5;
}
.logo-box{
  background-color: #FFFFFF;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  width:100%;
  height:800px;
}
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
form {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  width:500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  --ntp-realbox-height: 44px;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  height: var(--ntp-realbox-height);
}
.formspace{
  margin-top:50px;
}
input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
svg {
  color: rgba(var(--google-grey-900-rgb), .1);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#buttons {
  display:flex;
justify-content: center;
margin-top:30px;
}
.button {
  margin-left: 30px;
  margin-right:30 px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background:rgb(204, 204, 204)
}
  
.#footer1 {}

.footer-content {
  background: rgb(212, 211, 211);
  border-top:1px solid;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
}
.footeritems{
  padding-left:20px;
  padding-right:20px;
}

a {
  text-decoration:none;
}
a:hover {
   text-decoration: underline;
}
#nav a {
  margin-right: 20px;
}
