.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
}
.navbtn1{
  display: flex;
  flex-direction: row;
   justify-content: flex-start;
  width: 50px;
  margin: 20px;
  
}
.navbtn2{
  display: flex;
  flex-direction: row;
  width: 50px;
   justify-content: flex-start;
  margin: 20px;
}
.navmiddle{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 20px;
}
.navbtn3{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
   justify-content: flex-end;
  width: 50px;
  margin: 20px;
}
.navbtn4{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 width: 50px;
  margin: 20px;
}
.logo-box{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  width:100%;
  height:800px;
}
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
form {
  background-color: #ffffff;
  border-radius: 5px;
  width:500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  --ntp-realbox-height: 44px;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  height: var(--ntp-realbox-height);
}
input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
svg {
  color: rgba(var(--google-grey-900-rgb), .1);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}
ntp-realbox-icon {
  height: 100%;
  left: 12px;
  position: absolute;
  top: 0;
}

  
.footer {
  background-color: gba(var(--google-grey-900-rgb), .1);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
}
